
seminars/1st_seminar_python/numpy/.ipynb_checkpoints/NumPy-checkpoint.ipynb
seminars/1st_seminar_python/basics/.ipynb_checkpoints/python_basics-checkpoint.ipynb
seminars/1st_seminar_python/homework/.ipynb_checkpoints/hw1_numpy-checkpoint.ipynb
seminars/2nd_seminar_libs_and_ml/.ipynb_checkpoints/[hw2]Pandas_LinearRegression-checkpoint.ipynb
seminars/2nd_seminar_libs_and_ml/.ipynb_checkpoints/[hw2]Pandas_LinearRegression-checkpoint.ipynb
seminars/2nd_seminar_libs_and_ml/faces/.ipynb_checkpoints/faces-checkpoint.ipynb
seminars/2nd_seminar_libs_and_ml/matplotlib/.ipynb_checkpoints/MatPlotLib_lesson-checkpoint.ipynb
materials/homeworks/hw02/.ipynb_checkpoints/[hw2]numpy-checkpoint.ipynb
materials/homeworks/hw03/.ipynb_checkpoints/[hw3]Pandas_LinearRegression-checkpoint.ipynb
materials/homeworks/hw03/.ipynb_checkpoints/[hw3]Pandas_LinearRegression-checkpoint.ipynb
materials/homeworks/hw03_bonus/.ipynb_checkpoints/[hw3]faces-checkpoint.ipynb
*checkpoint.ipynb

materials/\[lesson4\]backpropagation/mnist\.npz
